nav ul li {
  text-decoration: none;
  display: inline-block;
  margin-right: .3em;
}

body {
  background-color: lightcoral;
  text-align: right;
}
.login {
  text-align: right;
}
#profile {
  text-align: left;
}

.mainbody {
  text-align: center;
}

h1 {
  font-size: 100px;
  text-align: center;
  background-color: white;
}