@import url('https://fonts.googleapis.com/css2?family=Comforter&display=swap');

body {
  background-color: rgb(202, 49, 49);
  text-align: right;
  z-index: -100;
}
.login {
  text-align: right;
}
#profile {
  text-align: left;
}

.mainbody {
  text-align: center;
}

h1 {
  font-size: 300px;
  color: white;
  text-align: center;
  background-color: white;
  background-position: center;
  padding-top: 50px;
  padding-bottom: 50px;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url('../assets-1/restaurant-photo.jpeg');
  opacity: 1;
  font-family: "Comforter", sans-serif;
}