@import url('https://fonts.googleapis.com/css2?family=Comforter&display=swap');

body {
  background-color: rgb(202, 49, 49);
  z-index: -100;
}

#profile {
  text-align: left;
}

#logins {
  text-align: right;
}

ul {
  list-style: none;
}
.container {
  background-color: white;
  border-radius: 10px;
}

.mainbody {
  text-align: center;
}

a {
  text-align: right;
}

#logo {
  color: white;
  font-family: "Comforter", sans-serif;
}

h1 {
  font-size: 300px;
  color: white;
  text-align: center;
  background-color: black;
  background-position: center;
  padding-top: 50px;
  padding-bottom: 50px;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url('../assets-1/restaurant-photo.jpeg');
  opacity: 1;
  font-family: "Comforter", sans-serif;
}

#hidden {
  display: none;
}