<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css-1/main.css">
    <title>Menyoo</title>
</head>
<body>
    <form>
        <!-- top bar -->
        <div class="top-bar">
            <div class="login-signup">
                <input type="submit">login/signup
           </div>
        </div>
            <!-- login/signup -->
        <!-- main body -->
            <!-- product name -->
            <!-- search bar and location -->
            <!-- Setting, Type, Price -->
        <!-- description -->
    </form>
</body>
</html>