<!-- main body -->
<div class="mainbody">
    <!-- product name -->
    <h1>Menyoo</h1>
    <form>
        <!-- Setting, Type, Price -->
        <div class="filter">
            <div class="setting">Setting:</div>
            <div class="type">Type:</div>
            <div class="price">Price:</div>
        </div>
        <!-- search bar and location -->
        <div class="searchBar">
            <form action="/restaurant" method="post">
                <input class="name" type="text" placeholder="Search Restaurant">
                <input class="location" type="text" placeholder="Location">
                <input type="submit" value="Search">
            </form>
        </div>
    </form>

</div>

<!-- description -->
</body>