<form action="/restaurant" method="post">
    <label for="name">Name:</label>
    <input type="text" name="name">

    <div>Hours:</div>
    <label for="mon">Monday:</label>
    <input type="text" name="mon">

    <label for="tue">Tueday:</label>
    <input type="text" name="tue">

    <label for="wed">Wednesday:</label>
    <input type="text" name="wed">

    <label for="thu">Thursday:</label>
    <input type="text" name="thu">

    <label for="fri">Friday:</label>
    <input type="text" name="fri">

    <label for="sat">saturday:</label>
    <input type="text" name="sat">

    <label for="sun">Sunday:</label>
    <input type="text" name="sun">

    <label for="description">Description:</label>
    <input type="text" name="description">

    <label for="categories">Categories:</label>
    <input type="text" name="categories">

    <label for="location">Location:</label>
    <input type="text" name="location">

    <label for="price">Price:</label>
    <input type="text" name="price">

    <input type="submit">
</form>