<form action="/food" method="post">
    <label for="name">Name:</label>
    <input type="text" name="name"><br>

    <label for="description">Description:</label>
    <input type="text" name="description"><br>

    <label for="ingredients">Ingredients:</label>
    <input type="text" name="ingredients"><br>

    <label for="meal">Meal:</label>
    <input type="text" name="meal"><br>

    <label for="foodType">Food Type:</label>
    <input type="text" name="foodType"><br>

    <label for="price">Price:</label>
    <input type="text" name="price"><br>

    <input type="submit">
</form>